<div class="jumbotron text-center">
 <h1>Sample Angular 2 Application</h1>
  <p>An another example which demonstrates the Angular 2 built with CLI</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Weather in City 1</h2>
    <p>I know I can treat you better</p>
  </div>
  <div class="col-md-4">
    <h2>Games going on at the moment</h2>
    <p>We dont talk anymore</p>
  </div>
  <div class="col-md-4">
    <h2>Banks around that place</h2>
    <p>Charlie puth & Selena gomez</p>
  </div>
</div>
